<mat-grid-list gutterSize="16" [cols]="3" rowHeight="300px" *ngIf="favs.length; else noFavs">

    <mat-grid-tile *ngFor="let fav of favs">
        <app-product-box [product]="fav" class="w-full" (onAddToCartChange)="onAddToCartChange($event)">
        </app-product-box>
    </mat-grid-tile>


</mat-grid-list>
<ng-template #noFavs>
    <div class="flex justify-center flex-col gap-5 items-center py-5">

        <p class="text-center w-full text-2xl mb-5 font-bold"> there is no Favs</p>
        <button mat-raised-button routerLink="/">
            Start Shopping
        </button>
    </div>
</ng-template>